@media (max-width: 767px)
    .container
        min-width: 767px
    .consultation
        .title_left
            font-size: 34px

@media (max-width: 575px)
    .container
        min-width: 575px

        .carousel__inner
            width: 558px
            img
                width: 100%
    .header__phone
        font-size: 16px
    .header__official
        span
            font-size: 15px
    .header__logo
        width: 37%
    .button
        width: 146%
    .promo__header
        font-size: 41px
    .promo__subheader
        font-size: 22px
    .advantages__descr
        font-size: 12px
        margin-top: 8px
        a
            font-size: 12px
    .footer
        .footer__addr
            font-size: 17px
        .footer__info
            width: 270px
            height: 170px
            padding: 20px
        .footer__phone
            font-size: 24px
    .catalog__content
        .catalog-item
            width: 264px
    .consultation
        .title_left
            font-size: 24px
        .consultation__descr
            font-size: 18px
@media (max-width: 320px)
    .container
        min-width: 320px
    .carousel__inner
        width: 320px
        img
            width: 100%
    .header
        &__official
            display: none
    .header__phone
        font-size: 16px
        margin-right: 10px
    .button
        margin-right: 10px
        width: 140px
    .consultation 
        .title_left
            font-size: 19px
        .consultation__descr
            font-size: 16px
        .feed-form
            width: 270px